body {
  background-color: black;
}

img {
  width: 50%;
  border-radius: 5px;
}

h1 {
  font-family: "Rubik Glitch", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

p {
  color: white;
  font-family: times;
  font-size: 14px;
}
